<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% extends "base.html" %}
    {% block page_content %}
    <style type="text/css" >
    body {background: url(https://kartinkinaden.ru/uploads/posts/2021-01/thumbs/1610228386_3-p-fon-v-stile-instagram-10.jpg);}
    h2 {color: #ffffff;}
    h4 {color: #ffffff;}


    </style>
</head>
<body>
<h4>Что-то пошло не так....</h4>
<h4>Проверьте логин и пароль и попробуйте заново...</h4>



</body>
</html>
{% endblock %}